mixin panel
  .panel
    block

mixin panel-react
  .panel.panel-react
    block

mixin panel-react-border
  .panel.panel-react.panel-react-border
    block

mixin panel-icon(icon)
  .panel.panel-icon(class=icon)
    block

mixin panel-icon-left(icon)
  .panel.panel-icon-left(class=icon)
    block

mixin panel-icon-right(icon)
  .panel.panel-icon-right(class=icon)
    block

mixin panel-react-icon(icon)
  .panel.panel-react.panel-icon(class=icon)
    block

mixin panel-react-icon-left(icon)
  .panel.panel-react.panel-icon.panel-icon-left(class=icon)
    block

mixin panel-react-icon-right(icon)
  .panel.panel-react.panel-icon.panel-icon-right(class=icon)
    block

mixin panel-react-border-icon(icon)
  .panel.panel-react.panel-react-border.panel-icon(class=icon)
    block

mixin panel-react-border-icon-left(icon)
  .panel.panel-react.panel-react-border.panel-icon-left(class=icon)
    block

mixin panel-react-border-icon-right(icon)
  .panel.panel-react.panel-react-border.panel-icon-right(class=icon)
    block
